{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}"></a>Inicio</li>
            <li><a href="{% url 'personas-list' %}">Personas</a></li>
            <li><a href="{% url 'proyectos-list' %}">Proyectos</a></li>
            <li><a href="{% url 'tareas-list' %}">Tareas</a></li>
            <li><a href="{% url 'comentarios-list' %}">Comentarios</a></li>
            <li><a href="{% url 'archivos-list' %}">Archivos</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer>
        <p>&copy; 2024 Gestion Api. Todos los derechos reservados.</p>
    </footer>
</body>
</html>